---
layout: default
---

<div class="home">

<!-- This loops through the paginated posts -->
{% for post in site.posts limit:10 %}
  <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="post-meta">{{ post.date | date: "%b %-d, %Y"}}</p>
  <div class="post-content">
    {{ post.content }}
  </div>
{% endfor %}

<!-- This displays the "Previous" button -->
{% for page in site.posts limit:1 offset:10 %}
<div id="page-navigation"> 

  <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
    <span class="icon fa fa-arrow-left fa-lg"
      {% if page.previous == null %} style="visibility:hidden"  {% endif %}
    ></span>
  </a>

  <a href="/weblog/" title="Index">
    <span class="icon fa fa-arrow-up fa-lg"></span>
  </a> 

</div>
{% endfor %}

</div>


