<div id="page-navigation"> 

  <a href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">
    <span class="icon fa fa-arrow-left fa-lg"
      {% if page.previous == null %} style="visibility:hidden"  {% endif %}
    ></span>
</a>

  <a href="/weblog/" title="Index">
    <span class="icon fa fa-arrow-up fa-lg"></span>
  </a> 

  <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
    <span class="icon fa fa-arrow-right fa-lg"
      {% if page.next == null %} style="visibility:hidden"  {% endif %}
    ></span>
  </a>

</div>
