---
layout: default
---
<div class="post">

  {% include nav.html %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      {{ page.date | date: "%Y-%m-%d" }}
      (<a href="https://github.com/simoneau/simoneau.github.com/blob/master/{{ page.path }}">source</a>)
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <h3>Comments</h3>

  <div id="comments">

{% for comment in site.comments %}

  {% capture comment_page_id %}/weblog/{{ comment.slug }}{% endcapture %}
  {% if comment_page_id == page.id %}

    <div class="comment">

      <p><b>
      {% if comment.author_url == '' %}
        {{ comment.author }}
      {% else %}
        <a href="{{ comment.author_url }}">{{ comment.author }}</a>
      {% endif %}
       posted on {{ comment.date | date: "%Y-%m-%d" }}
       (<a href="https://github.com/simoneau/simoneau.github.com/blob/master/{{ comment.relative_path }}">source</a>):
     </b></p>

      {{ comment.content }}

    </div>

  {% endif %}

{% endfor %}

  </div>

  {% include nav.html %}

</div>
